/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
	background-color: #212121;
	max-width: 2000px;
	min-width: 600px;
	margin:0 auto;
}

/* HEADER */
.header{
	width: 100%;
	height: 1000px;
	background-image: url(../img/header_background.jpg);
	background-size: cover;
	padding-top: 40px;
}
.nav{
	display: flex;
	justify-content: space-between;
	width: 800px;
	align-items: center;
	text-transform: uppercase;
	margin-left: 43%;
	margin-bottom: 70px;
}

.nav a{
	font-size: 35px;
	color:#afc67b;
	opacity: 78%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding:10px 10px;
}

.nav a:hover{
	background-color: rgba(78,85,68,1)
}

.header_block{
	margin-left: 55%;
	width: 45%;
	height: 590px;
}
.header_block_logo img{
	width: 150px;
	height: auto;
}
.header_block_subtitle{
	margin-top: 100px;
	font-size: 57px;
	color:#afc67b;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.header_block_title{
	text-transform: uppercase;
	color:#9baf6d;
	font-size: 78px;
	margin-bottom: 145px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.header_block_link{
	background-color: rgba(78,85,68,0.5);
	width: 420px;
	height: 90px;
	text-transform: uppercase;
	color:#9baf6d;
	font-size: 49px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding: 15px 15px;
}
.header_block_link:hover{
	background-color: rgba(78,85,68,1)
}

/* NEW */

.new{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.new_text{
	padding-top: 160px;
	width: 540px;
	margin-left: 250px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
.new_text_title{
	color:#afc67b;
	font-size: 29px;
	margin-bottom: 40px;
	font-family: 'Black And White Picture', sans-serif;
}
.new_text_text{
	color:#d4d4d4;
	font-size: 19px;
	line-height: 1.8;
	margin-bottom: 50px;
}
.new_img{
	padding-right: 2px;
	width: 50%;
}

.new_img img {
	height: 100%;
	width: 100%;
}

/* BLOCKS */
.fon_for_blocks{
	background-color:rgba(69,73,59,0.8);
}

.small_container{
	width: 1120px;
	margin:0 auto;
}

.blocks{
	display: flex;
	justify-content: space-between;
	padding-top: 80px;
	padding-bottom: 40px;
}
.blocks_block{
	width: 33.333%;
	margin: 0 20px;
}

.blocks_block_img{
	display: flex;
	width: 25px;
	height: 40px;
	margin-bottom: 20px;
}
.blocks_block_img img{
	width: 100%;
	height: 100%;
	margin: 0 10px;
}

.blocks_block_title{
	font-size: 25px;
	color:#eaeaea;
	margin-bottom: 40px;
	line-height: 1.5;
	font-family: 'Black And White Picture', sans-serif;
}
.blocks_block_text{
	color:#eaeaea;
	font-size: 17px;
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;

}

/* MENU */
.small_container{
	width: 1120px;
	margin:0 auto;
}

.fon_for_menu{
	height: 1205px;
	width: 100%;
}

.menu{
	height: 100%;
	margin: 90px 0;
	background-color:rgba(69,73,59,0.8);	
}

.menu_inner{
	padding-bottom: 30px;
	margin:0 auto;
	text-align: center;
}

.menu_inner_subtitle{
	padding-top: 62px;
	color:#afc67b;
	font-size: 46px;
	line-height: 1.5;
	text-transform: uppercase;
	font-family: 'Black And White Picture', sans-serif;
}
.menu_inner_title{
	font-size: 41px;
	text-transform: uppercase;
	color:#e8e8e8;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
.menu_content{
	width: 100%;
	height: auto;
	margin-top: 65px;
}
.menu_content_line{
	height: 33.333%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.menu_content_block{
	width: 25%;
	max-height:285px;
	overflow: hidden;
}


.menu_content_block_img{
	width: 100%;
	height: 100%;
}

.menu_content_block_text{
	width: 180px;
	text-align: center;
	margin: 0 auto;
}


.menu_content_block_text_title{
	color:#afc67b;
	font-size: 29px;
	margin-bottom: 25px;
	padding-top: 50px;
	font-family: 'Black And White Picture', sans-serif;

}
.menu_content_block_text_text{
	font-size: 17px;
	color:#e8e8e8;
	margin-bottom: 22px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	overflow: hidden;
}
.menu_content_block_text_price{
	color:#e8e8e8;
	font-size: 25px;
	font-weight: 700;

}

/* TRANSITION */

.transition{
	background-color:rgba(69,73,59,0.8);
}

.transition_content{
	width: 55%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 100px;
}

.transition_content_title{
	font-size: 42px;
	color: #afc67b;
	padding-top: 110px;
	margin-bottom:25px;
	font-family: 'Black And White Picture', sans-serif;
}

.transition_content_text{
	font-size: 21px;
	color:#dcdcdb;
	margin-bottom: 60px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.transition_image{
	width: 100%;
	height: auto;
}

/* DISCOVER */

.discover{
	background-color:rgba(69,73,59,0.8);
}

.container{
	margin:0 auto;
	height: 100%;
	max-width: 1600px;
	padding:30px 100px 50px;
}
.discover_text{
	margin:0 auto;
}
.discover_text_main{
	text-align: center;
}

.discover_text_main_title{
	font-size: 71px;
	color: #e7e7e7;
	font-family: 'Black And White Picture', sans-serif;
}
.discover_text_main_subtitle{
	font-size: 46px;
	color: #e7e7e7;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.discover_text_blocks{
	display: flex;
	margin-top: 33px;
	justify-content: space-between;
	
}

.discover_text_block_line{
	display: flex;
	margin-bottom: 45px;

}
.discover_line_text{
	width: 400px;
}
.discover_line_text_title{
	font-size: 25px;
	color:#e7e7e7;
	margin-bottom: 15px;
	font-family: 'Black And White Picture', sans-serif;

}
.discover_line_text_text{
	color:#e7e7e7;
	font-size: 17px;
	line-height: 1.2;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	overflow: hidden;
}
.discover_line_text{
	margin-left: 10px;
}
.discover_price{
	font-size: 19px;
	color:#e7e7e7;
	font-weight: 700;
}
.discover_img{
	height: 900px;
}
.discover_background_img{
	width: 100%;
	height: auto;
}

/* BOOK */

.book{
}
.book_title{
	font-size: 77px;
	color:#ffffff;
	text-align: center;
	padding-top: 20px;
	font-family: 'Black And White Picture', sans-serif;
}

.book_input{
	width: 100%;
	margin-top: 30px;
}

.book_input_blocks{
	width: 1166px;
	height: 165px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.book_input_title{
	font-size: 17px;
	color:#ffffff;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.book_input_input:nth-child(2){
	margin-top: 40px;
}

.book_input_content input{
	background-color: #212121;
	color: #ffffff;
	padding-left: 5px;
	border:1px solid white;
	border-radius: 8px;
	height: 25px;
	font-size: 17px;
	margin-top: 8px;
	width: 240px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

input:focus{
	border:5px solid black;
}

.book_submit {
	text-align: center;
}

.submit{
	margin: 0 auto;
	background-color: #212121;
	color: #ffffff;
	border:1px solid white;
	border-radius: 8px;
	height: 30px;
	width: 240px;
	font-size: 17px;
	margin: 40px 0 70px;
	font-weight: 700;
	text-transform: uppercase;
}

.submit:hover{
	background-color: #ffff;
	color:#000;
}

.book_img_img{
	width: 100%;
}

/* DISCOVER-NEW */

.discover-new{
	height: 820px;
	background-color:rgba(69,73,59,0.8);
}

.discover-new_text{
	padding-top: 35px;
	width: 430px;
	margin:0 auto;
	text-align: center;
}
.discover-new_text_title{
	font-size: 77px;
	color: #afc67b;
	font-family: 'Black And White Picture', sans-serif;
}
.discover-new_text_subtitle{
	font-size: 48px;
	color:#e7e7e7;
	text-transform: uppercase;
	margin-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.discover-new_blocks{
	width: 60%;
	min-width: 1060px; 
	height: 500px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}
.discover-new_block{
	width: 350px;
	background-color: #fff;
	height: 500px;
}
.discover-new_block_img img{
	width: 100%;
}
.discover-new_block_text{
	padding-top: 10px;
	padding-left: 15px;
}
.discover-new_block_text_dates{
	font-size: 14px;
	line-height: 2.3;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.discover-new_block_text_title{
	margin-top: 15px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.discover-new_block_text_normal{
	margin-top: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	overflow: hidden;
}
.discover-new_block_text_more{
	font-size: 14px;
	line-height: 2.3;
	text-transform: uppercase;
	margin-top: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.discover-new_block_text_more a{
	border-bottom: 6px solid #afc67b;
}

.discover-new_block_text_more a:hover{
	border-bottom: none;
}

/* LINK-BLOCKS */

.link-block{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 50px;
}
.link-block_normal-text{
	margin:0 auto;
	margin-top: 22px;
	width: 700px;
	color: #aac078;
	font-size: 19px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	overflow: hidden;
}
.link-block_title{
	margin-top: 20px;
	color:#afc67b;
	font-size: 33px;
	line-height: 1.2;
	font-family: 'Black And White Picture', sans-serif;
}
.link-block_subtitle{
	margin-top: 15px;
	font-size: 25px;
	color:#afc67b;
}
.link-block_links{
	margin:0 auto;
	margin-top: 30px;
	width: 340px;
	display: flex;
	justify-content: space-between;
}
.link-block_links a:hover{
	background-color: black;

}
/* FOOTER */

footer{
	background-color:rgba(69,73,59,0.8);
}
.footer_container{
	margin:0 auto;
	width: 80%;
	padding: 65px 60px;
	display: flex;
	justify-content: space-between;
}
.footer_container_big-block{
	width: 350px;
}

.footer_container_big-block_title{
	font-size: 25px;
	line-height: 1.2;
	color:#e7e7e7;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.footer_container_big-block_text{
	margin-top: 35px;
	color:#e7e7e7;
	font-size: 18px;
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.footer_container_blocks{
	width: 45%;
	display: flex;
	justify-content: space-between;
}
.footer_container_blocks_block{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.footer_container_blocks_block2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.footer_container_blocks_block3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.footer_container_blocks_block_title{
	font-weight: 700;
	font-size: 21px;
	color:#e7e7e7;
	text-transform: uppercase;
}
.footer_container_blocks_block_text{
	margin-top: 40px;
	font-size: 21px;
	color:#e7e7e7;
	overflow: hidden;
}
.footer_container_blocks_block_text_element{
	padding-top: 8px;
}
.footer_container_blocks_block_text_element a{
	color:#e7e7e7;
	margin-bottom: 5px;
}

.footer_container_blocks_block_text_element a:hover{
	border-bottom: 3px solid black;
}